{# This is te template for our /etc/hosts file #}

{% for host in groups['test'] %}
{{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }} {{ hostvars[host]['ansible_facts']['fqdn'] }}

{% endfor %}